services:
  - type: web
    name: simula-mais-api
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        value: seu_jwt_super_seguro_aqui_123
